.header {
    cursor: pointer;
}

.links-container {
    transition: all .2s;

    display: flex;
    flex-direction: column;
}

.dropdown-container {
    position: absolute;

    z-index: 1;
    background-color: rgba(30, 30, 30, .8);
    padding: 0 0.5em;
    border-radius: 5px;

    transition: all .4s ease-in-out;
}

.active-container div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}