.header-container {
    position: fixed;
    
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(43,43,43,0.8664565058479532) 0%, rgba(28,28,28,1) 100%);

    padding: 0 .5em;
    margin-bottom: 1.5em;

    width: 100%;
    height: var(--header-height);

    top: 0;
    z-index: 1;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    justify-content: space-around;

    padding-top: 1em;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;

    font-size: 35px;
    /* font-weight: bold; */
    white-space: nowrap;

    transition: all .2s;
}

.link-container .link {
    margin: 0 .2em;
    transition: all .2s;
}

.link:hover {
    transform: scale(105%);
    opacity: 1 !important;
}

.image-container {
    padding-top: .5em;
    height: 60px;
    width: fit-content !important;
}

.image-container div {
    width: fit-content;
}

.image img {
    height: 60px !important;
    width: auto;
}

.brand-container {
    display: flex;
    width: fit-content;
}

.locale-button {
    margin-left: 2em;
}

.toggler svg:hover {
    cursor: pointer;
}

.active {
    color: var(--primary-shadow) !important;
}

@media only screen and (max-width: 1049px) {

    .link-container {
        font-size: 32px;
    }

}

@media only screen and (max-width: 900px) {

    .mobile-menu-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        width: fit-content !important;
    }

    .mobile-link-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        white-space: nowrap;

        position: absolute;
        top: calc(var(--header-height) - 0.5em);

        font-size: 32px;
        /* font-weight: bold; */
        white-space: nowrap;
        z-index: 1;

        transition: all .2s;
        right: 0;
        width: fit-content;

        padding: .5em .5em .5em .5em;

        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(43,43,43,0.8664565058479532) 24%, rgba(28,28,28,1) 100%);
    }

    .mobile-link-container .link {
        margin: .2em;
        transition: all .2s;
    }

    .link-container { 
        font-size: 22px;
    }

    .link {
        transform: translateX(100vw);
    }

    .slide-in-left {
        animation: .3s slide-in-left-animation ease-in-out forwards;
    }
}

/* Fix logo size for different screen sizes */
@media only screen and (max-width: 400px) {
    .image img {
        height: 50px !important;
    }
}

@media only screen and (max-width: 370px) {
    .image img {
        height: 45px !important;
    }
}

@media only screen and (max-width: 350px) {
    .image img {
        height: 35px !important; 
    }

    .image-container {
        height: fit-content;
    }

    .item-container {
        align-items: center;
    }
}

@keyframes slide-in-left-animation {
    0% {
        transform: translateX(100vw);
    }
    80% {
        transform: translateX(-10vw);
    }
    100% {
        transform: translateX(0vw);
    }
}