.title-section-container {
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.canvas-3d {
    background-color: rgba(0, 0, 0, 0);

    position: absolute !important;
    z-index: -1;
}

.detect-mouse-movement {
    position: absolute;
    /* border: 2px white solid; */
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
}

.mneme-label {
    letter-spacing: .5em;
    font-size: 100px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    padding-left: .5em;
    padding-right: 0;
    margin-top: calc(var(--header-height) + .1em);
    text-shadow: 5px 5px var(--primary-shadow);
}

.mneme-label span {
    display: inline-block;
    color: var(--primary-orange) !important;
    animation: 1s button-press-animation ease-in-out alternate infinite;
}

.mneme-label span:nth-child(1) {
    animation-delay: .2s;
}

.mneme-label span:nth-child(2) {
    animation-delay: .4s;
}

.mneme-label span:nth-child(3) {
    animation-delay: .6s;
}

.mneme-label span:nth-child(4) {
    animation-delay: .8s;
}

.mneme-label span:nth-child(5) {
    animation-delay: 1s;
}

@keyframes button-press-animation {
    0% {
        transform: translateX(0px) translateY(0px);
        text-shadow: 5px 5px var(--primary-shadow);
    }
    100% {
        transform: translateX(4px) translateY(4px);
        text-shadow: 1px 1px var(--primary-shadow);
    }
}

.info-container {
    position: absolute;
    bottom: 0;
    left: 0;

    margin-left: 10em;
    margin-bottom: 15em;

    width: fit-content;

    z-index: 0;
}

.booking-button {
    margin-top: .5em;
    padding: .1em .5em;
    border-radius: 5px;

    font-size: 25px;
    color: var(--primary-bg) !important;
    background-color: var(--primary-text);
    box-shadow: 4px 4px var(--primary-shadow);

    width: fit-content;

    transition: all .2s ease-in-out;
}

.booking-button:hover {
    transform: translateX(3px) translateY(3px);
    box-shadow: 1px 1px var(--primary-shadow);
}

.info-section-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-section-container h1 {
    font-weight: bold;
    font-size: 160px;

    text-align: center;
    width: fit-content;

    text-shadow: 4px 4px var(--primary-shadow);

    transition: all .2s ease-in-out;
}

.info-section-container h1 span {
    font-size: 200px;
    font-family: 'Caudex';
    text-shadow: 4px 4px var(--secondary-shadow);

    margin: 0 .1em;
    transition: all .2s ease-in-out;
}

.info-section-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.info-section-image {
    max-width: 300px;
    margin: 0 .5em;

    border-radius: 15px;
}

.theme-info-row {
    height: fit-content;

    margin-top: 5em;
    margin-bottom: 15em;
}

.theme-info-container {
    display: flex;
    flex-direction: row;
    padding: 0 5em;

    position: relative;
}

.theme-info-container p {
    padding: 0 1em;
    text-align: center;
    font-size: 32px;

    text-shadow: 2px 2px var(--primary-shadow);
}

.theme-info-container p:nth-child(5) {
    margin-top: 2em;
}

.theme-info-background {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    width: 30%;
    height: 80%;
    
    z-index: -2;

    background-color: var(--primary-shadow);
}

.theme-info-background:nth-child(2) {
    left: 37.5%;
    top: 30%;

    width: 30%;

    background-color: var(--primary-orange);

    z-index: -1;
}

.theme-info-background:nth-child(3) {
    left: 60%;
}

.location-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    margin: 2em 0;
}

.location-info-container iframe {
    border-radius: 15px;
    box-shadow: 4px 4px var(--primary-shadow);
    margin-top: 1em;
}

.location-image {
    border-radius: 15px;
    box-shadow: 4px 4px var(--primary-shadow);
    margin-top: 1em;
}

.location-instructions {
    display: flex;
    flex-direction: column;
}

.location-instructions h1 {
    text-align: center;
}

.location-instructions p {
    font-size: 26px;
    width: fit-content;

    margin-left: 1em;
}

.location-instructions b {
    color: var(--primary-shadow) !important;
}

/* Responsive */
@media only screen and (max-width: 1400px) {
    .info-section-container h1 {
        font-size: 100px;
    }

    .info-section-container h1 span {
        font-size: 140px;
    }
}

@media only screen and (max-width: 900px) {
    .title-section-container {
        justify-content: space-between;
        align-items: center;
    }
    
    .detect-mouse-movement {
        width: 100%;
        left: 0;

        overflow-x: hidden;
    }

    .canvas-3d {
        width: 100vw !important;
    }

    .mneme-label {
        font-size: 65px;
        text-shadow: 4px 4px var(--primary-shadow);
    }

    .info-container {
        margin: 0 0 3em 0;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mneme-label {
        position: absolute;
    }

    .booking-button:hover {
        transform: translateX(0);
        box-shadow: 4px 4px var(--primary-shadow);
    }

    .info-section-container {
        justify-content: center;

        height: 70vh;
    }

    .info-section-image {
        display: none !important;
    }

    .info-section-container h1 {
        font-size: 50px;
    }

    .info-section-container h1 span {
        font-size: 60px;
    }

    .theme-info-row {
        margin-bottom: 5em;
    }

    .theme-info-container {
        flex-direction: column;
    }

    .theme-info-container p {
        padding: 0;
        font-size: 26px;

        margin-top: .5em;
    }

    .theme-info-container p:nth-child(5) {
        margin: 0;
    }

    .theme-info-background:nth-child(1) {
        display: none;
    }

    .theme-info-background:nth-child(3) {
        display: none;
    }

    .theme-info-background:nth-child(2) {
        width: 50%;
        left: 25%;
        height: 80%;
        top: 10%;
        background-color: var(--primary-shadow);
    }

    .location-image {
        width: 80vw;
    }

    .location-info-container iframe {
        width: 80vw;
    }

}

@media only screen and (max-width: 412px) {

    .mneme-label {
        font-size: 60px;
    }

    .theme-info-container {
        padding: 0 4em;
    }

}

@media only screen and (max-width: 370px) {

    .mneme-label {
        font-size: 55px;
    }

    .theme-info-container {
        padding: 0 3em;
    }

}

@media only screen and (max-width: 300px) {

    .mneme-label {
        font-size: 40px;
    }

    .booking-button {
        font-size: 20px;
    }

    .info-container h3 {
        font-size: 20px;
    }

}