.title-section-container {
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.canvas-3d {
    background-color: var(--primary-bg);
    /* background-color: white; */
    position: absolute !important;
    z-index: -1;
}

.detect-mouse-movement {
    position: absolute;
    /* border: 2px white solid; */
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
}

.mneme-label {
    letter-spacing: .5em;
    font-size: 100px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    padding-left: .5em;
    padding-right: 0;
    margin-top: calc(var(--header-height) + .1em);
    text-shadow: 5px 5px var(--primary-shadow);
}

.mneme-label span {
    display: inline-block;
    color: var(--primary-orange) !important;
    animation: 1s button-press-animation ease-in-out alternate infinite;
}

.mneme-label span:nth-child(1) {
    animation-delay: .2s;
}

.mneme-label span:nth-child(2) {
    animation-delay: .4s;
}

.mneme-label span:nth-child(3) {
    animation-delay: .6s;
}

.mneme-label span:nth-child(4) {
    animation-delay: .8s;
}

.mneme-label span:nth-child(5) {
    animation-delay: 1s;
}

@keyframes button-press-animation {
    0% {
        transform: translateX(0px) translateY(0px);
        text-shadow: 5px 5px var(--primary-shadow);
    }
    100% {
        transform: translateX(4px) translateY(4px);
        text-shadow: 1px 1px var(--primary-shadow);
    }
}

.info-container {
    position: absolute;
    bottom: 0;
    left: 0;

    margin-left: 10em;
    margin-bottom: 15em;

    width: fit-content;

    z-index: 0;
}

.booking-button {
    margin-top: .5em;
    padding: .1em .5em;
    border-radius: 5px;

    font-size: 25px;
    color: var(--primary-bg) !important;
    background-color: var(--primary-text);
    box-shadow: 4px 4px var(--primary-shadow);

    width: fit-content;

    transition: all .2s ease-in-out;
}

.booking-button:hover {
    transform: translateX(3px) translateY(3px);
    box-shadow: 1px 1px var(--primary-shadow);
}

.info-section-container {
    height: 100vh;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    .title-section-container {
        justify-content: space-between;
        align-items: center;
    }
    
    .detect-mouse-movement {
        width: 100%;
        left: 0;

        overflow-x: hidden;
    }

    .canvas-3d {
        width: 100vw !important;
    }

    .mneme-label {
        font-size: 65px;
        text-shadow: 4px 4px var(--primary-shadow);
    }

    .info-container {
        margin: 0 0 3em 0;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mneme-label {
        position: absolute;
    }

    .booking-button:hover {
        transform: translateX(0);
        box-shadow: 4px 4px var(--primary-shadow);
    }
}