@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');

:root {
    --primary-bg: #0B0B0B;
    --secondary-bg: #1e1e1e;
    --primary-shadow: #C51731;
    --secondary-shadow: #546EA0;
    --primary-text: #F6E9C7;
    --primary-highlight: #7FB1BC;
    --primary-orange: #F06427;

    --header-height: 100px;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
    height: 100%;
}

h1, h2, h3, h4, h5, div, a, span, p {
    font-family: "GFS Neohellenic", sans-serif;
    color: var(--primary-text) !important;
}

b {
    color: var(--primary-highlight);
}

body {
    background-color: var(--primary-bg) !important;

    height: 100%;
    overflow: auto;
}

.text-shadow-primary {
    text-shadow: 2px 2px var(--primary-shadow);
}

.text-shadow-secondary {
    text-shadow: 2px 2px var(--secondary-shadow);
}

.hide-link {
    opacity: 0 !important;
    pointer-events: none;
}

.hide-link:hover {
    cursor: default;
}

@media only screen and (max-width: 900px) {

    body {
        overflow-x: hidden;
    }

    .global-container {
        overflow-x: hidden;
    }

}