@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');

:root {
    --primary-bg: #0B0B0B;
    --secondary-bg: #1e1e1e;
    --primary-shadow: #47F0E6;
    --secondary-shadow: #546EA0;
    --primary-text: #FFFF;
    --primary-highlight: #FF8A00;
    --secondary-highlight: #ff0018;
    --primary-orange: #FF8A00;

    --header-height: 100px;
}

.mneme-logo-image {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.mneme-logo-image span {
    color: var(--primary-shadow) !important;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
    height: 100%;
}

h1, h2, h3, h4, h5, div, a, span, p {
    font-family: "helvetica", sans-serif;
    color: var(--primary-text) !important;
}

b {
    color: var(--primary-highlight);
}

body {
    /* background: rgb(45,52,54); */
    /* background: linear-gradient(200deg, rgba(45,52,54,1) 0%, rgba(0,0,0,1) 100%) !important; */

    background-color: var(--primary-bg);

    height: 100%;
    overflow: auto;
}

.text-shadow-primary {
    text-shadow: 2px 2px var(--primary-shadow);
}

.text-shadow-secondary {
    text-shadow: 2px 2px var(--secondary-shadow);
}

.hide-link {
    opacity: 0 !important;
    pointer-events: none;
}

.hide-link:hover {
    cursor: default;
}

@media only screen and (max-width: 900px) {

    body {
        overflow-x: hidden;
    }

    .global-container {
        overflow-x: hidden;
    }

}