.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;

    transition: .5s;
    transform-style: preserve-3d;
}

.name {
    text-align: center;
    margin-right: .5em;
}

.caption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;

    margin-top: .5em;
}

@media only screen and (max-width: 900px) {

    .container {
        max-width: 45vw;
    }

    .caption {
        flex-direction: column;
        align-items: center;
    }

}