.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;

    transition: .5s;
    transform-style: preserve-3d;
}

.name {
    text-align: center;
}

@media only screen and (max-width: 900px) {

    .container {
        max-width: 45vw;
    }

}