.button span {
  opacity: 0;
  transition: all .2s ease-in-out;
}

.button:hover span {
    opacity: 1;
    color: #F06427;
}
.button:hover .image{
    opacity: 1;
    color: #F06427;
    filter: blur(8px);  
}
/* .button:hover{
  border:solid #F06427 5px;
} */

.button .image{
  width: 100%;
}

.button{
  width: fit-content;
  position: relative;
}

.image {
  background-color: white;
}

.image-border{
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all .2s ease-in-out;
}

.image-border:hover{
  border: solid var(--primary-shadow) 5px;
}

.learn-more {
    position: absolute;
    opacity: 0;
    font-size: 30px;
    color: var(--primary-highlight) !important;
    text-shadow: 2px 2px #000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: #1e1e1eab;
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light);
  background: var(--background);
  background-color: #1E1E1E;
  box-shadow: 15px 15px var(--primary-orange);
  position: relative;

  overflow: hidden;
}

.title{
  width: fit-content;
  margin-top: 1em;
}

.modal__details {
    color: "#FFFFFF";
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #00000076;
}

.link-buttons{
    margin-top: .5em;
    padding: .1em .5em;
    border-radius: 5px;

    font-size: 25px;
    color: var(--primary-bg) !important;
    background-color: var(--primary-text);
    box-shadow: 4px 4px var(--primary-shadow);

    width: fit-content;

    transition: all .2s ease-in-out;
}

.link-buttons:hover{
  transform: translateX(3px) translateY(3px);
  box-shadow: 1px 1px var(--primary-shadow);
}

.close-button {
  color: black;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 1em;
}

.close-button:hover {
  color: var(--primary-orange) !important;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .modal h5 {
    height: 30vh;
    overflow: scroll;
  }
}